<%- include('partials/head') %>
<div class="container-center">
   <h4>Create</h4>
   <p>Enter the details about the listing</p>

    <form method="post" enctype="multipart/form-data">
    <!-- Address | Text input-->
    <div class="form-group row">
        <label class="col-md-4 col-form-label" for="Address">Address</label>
        <div class="col-md-6">
            <input value="<%= upload_item.Address %>" aria-describedby="AddressHelpBlock" id="Address" name="Address" type="text" placeholder="" class="form-control input-md">
            <small id="AddressHelpBlock" class="text-muted">Insert the address.</small>
        </div>
    </div>

    <!-- Apt | Text input-->
    <div class="form-group row">
        <label class="col-md-4 col-form-label" for="Apt">Apt</label>
        <div class="col-md-4">
            <input value="<%= upload_item.Apt %>" aria-describedby="AptHelpBlock" id="Apt" name="Apt" type="text" placeholder="" class="form-control input-md">
            <small id="AptHelpBlock" class="text-muted">The apartment number.</small>
        </div>
    </div>

    <!-- Size | Text input-->
    <div class="form-group row">
        <label class="col-md-4 col-form-label" for="Size">Size</label>
        <div class="col-md-4">
            <input value="<%= upload_item.Size %>" aria-describedby="SizeHelpBlock" id="Size" name="Size" type="number" step="0.5" placeholder="" class="form-control input-md">
            <small id="SizeHelpBlock" class="text-muted">The rooms number.</small>
        </div>
    </div>

    <!-- Description | Text input-->
    <div class="form-group row">
        <label class="col-md-4 col-form-label" for="Description">Description</label>
        <div class="col-md-8">
            <input value="<%= upload_item.Description %>" aria-describedby="DescriptionHelpBlock" id="Description" name="Description" type="text" placeholder="" class="form-control input-md">
            <small id="DescriptionHelpBlock" class="text-muted">Details  </small>
        </div>
    </div>

    <!-- Price | Prepended text -->
    <div class="form-group row">
        <label class="col-md-4 col-form-label" for="price">Price</label>
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input value="<%= upload_item.Price %>" aria-describedby="priceHelpBlock" id="price" name="Price" class="form-control" placeholder="" type="text">
            </div>
            <small id="priceHelpBlock" class="text-muted">The price of the listing</small>
        </div>
    </div>
    <!-- Date Of Availability | Text input-->
<div class="form-group row">
    <label class="col-md-4 col-form-label" for="date_of_availability">Date Of Availability</label>
    <div class="col-md-4">
        <input aria-describedby="Date Of AvailabilityHelpBlock" id="date_of_availability" name="date_of_availability" type="date" placeholder="" class="form-control input-md">
        <small id="Date Of AvailabilityHelpBlock" class="text-muted">Enter date of availability</small>
    </div>
</div>

    <!-- Contact | Text input-->
    <div class="form-group row">
        <label class="col-md-4 col-form-label" for="contact">Contact</label>
        <div class="col-md-5">
            <input value="<%= upload_item.contact %>" aria-describedby="contactHelpBlock" id="contact" name="contact" type="text" placeholder="" class="form-control input-md">
            <small id="contactHelpBlock" class="text-muted">contact info</small>
        </div>
    </div>


    <!-- Picture | File Button -->
    <div class="form-group row">
        <label class="col-md-4 col-form-label" for="picture">Picture</label>
        <div class="col-md-8">
	    <% if (upload_item.picture) %>
  		<% pictures.forEach(picture => { %>
			<div class="picture-edit-item">
			  <img class="img img-rounded w-100" src="<%= picture.uri %>" title="<%= picture.title %>" data-name="<%= picture.title %>" />
			  
			  <a href="<%= picture.uri %>">View Large</a>
			  <a class="btn btn-xs btn-danger btn-delete-picture" href="#">Delete</a>
			</div>
		<% }) %>
	    <% } %>
            <input type="hidden" name="pictures" value="<%= upload_item.picture %>" />
            <div id="pictures-container">
              <div class="picture-item">
                <input name="picture_1" class="input-file" type="file">
                <a class="btn btn-xs btn-danger" href="#">&times;</a>
              </div>
            </div>
            <a href="#" class="btn btn-success add-more-pictures">Upload More Pictures</a>
            <style>
              .picture-item > input {
                    display: inline-block;
                }

                .picture-item {
                    padding: 12px 0;
                }
                .picture-edit-item {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 14px;
    border-radius: 10px;
}

            </style>
            <script>
              // Logic for the picture items
              (function () {
                var PICTURE_SEPARATOR = "<%= PICTURE_SEPARATOR %>"
                var $picContainer = $("#pictures-container")
                var $picItemTemplate = $(".picture-item").clone()

                $(".btn-delete-picture").click(function () {
                  var $pic = $(this).closest(".picture-edit-item")
                  $pic.remove();
                  $("input[name='pictures']").val($("img[data-name]").map(function () {
                    return $(this).data("name")
                  }).toArray().join(PICTURE_SEPARATOR))
                  return false;
                })

                function updateNames () {
                  $(".picture-item").each(function (i) {
                    $("input", this).attr("name", "picture_" + (i + 1))
                  })
                }

                // Delete picture items
                $picContainer.on("click", ".btn-danger", function () {
                  $(this).closest(".picture-item").remove()
                  if (!$picContainer.children().length) {
                    $picContainer.append($picItemTemplate.clone())
                    updateNames();
                  }
                  return false;
                })

                // If we click the add more pictures, we add a new picture-element
                // and open the select file dialog
                $(".add-more-pictures").click(function () {
                  var $picElm = $picItemTemplate.clone()
                  $picContainer.append($picElm)
                  updateNames();
                  $("input", $picElm).click()

                  return false;
                })
              })()
            </script>
        </div>
    </div>

    <!-- Size | Text input-->
    <div class="form-group row">
        <label class="col-md-4 col-form-label"></label>
        <div class="col-md-4">
            <a href="/<%= upload_item.req.params.home_id %>" class="btn btn-secondary">Cancel</a>
        <input type="submit" class="btn btn-primary" value="Update">
        </div>
    </div>

    </form>
</div>

<%- include('partials/footer') %>
